<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
    <div th:replace="fragments/scripts :: scripts"></div>
    <title>Расчет</title>
</head>
<header>
    <div th:replace="fragments/navbar :: navbar (${'resolve'})"></div>
</header>
<body class="gradient">

    <div align="center" xmlns:th="http://www.w3.org/1999/xhtml">
        <h2></h2>
        <div class="container">
            <div class="optional">
                <div class="row" style="margin: 0 5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Изменить периодичность данных
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <span class="dropdown-item" onclick="refresh(3600, 2002)">Часовые</span>
                        <span class="dropdown-item" onclick="refresh(86400, 2002)">Дневные</span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3" style="margin: 5px 0">Температура один, 2 см</div>
                </div>
                <div id="2002" style="height: 300px"></div>
            </div>
            <div class="optional">
                <div class="row" style="margin: 0 5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Изменить периодичность данных
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <span class="dropdown-item" onclick="refresh(3600, 4402)">Часовые</span>
                        <span class="dropdown-item" onclick="refresh(86400, 4402)">Дневные</span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3" style="margin: 5px 0">Температура воздуха, 2 м</div>
                </div>
                <div id="4402" style="height: 300px"></div>
            </div>
        </div>
   </div>

</body>
</html>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:inline="javascript">
    $(document).ready(function() {
        google.charts.load('current', {
            packages : [ 'corechart', 'bar' ],'language': 'ru'
        });
        google.charts.setOnLoadCallback(function() { // Anonymous function that calls drawChart1 and drawChart2
            drawChart("Датчик 2002", "2002", /*[[${chartData2002}]]*/'noValue');
            drawChart("Датчик 4402", "4402", /*[[${chartData4402}]]*/'noValue');
        });
    });
    function drawChart(title, id, real_data) {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'дата');
        data.addColumn('number', 'температура');
        data.addColumn({'type': 'string', 'role': 'tooltip'});
        Object.keys(real_data).forEach(function(key) {
            let date = new Date(key);
            let day = date.getDate();
            if(day<10) day = "0" + day;
            let month = date.getMonth();
            if(month<10) month = "0" + month;
            let hours = date.getHours();
            if(hours<10) hours = "0" + hours;
            let tooltip = day + "." +
                month + "." +
                date.getFullYear() + " " +
                hours + ":" +
                date.getMinutes() + "0\n" +
                "температура: " + real_data[key];
            data.addRow([ date, real_data[key], tooltip]);
        });
        var options = {
            title : title,
            hAxis : {
                title : 'дата',
            },
            explorer: {
                //maxZoomOut:2,
                axis: 'horizontal'
            },
            vAxis : {
                title : 'темепература'
            }};
        var chart = new google.visualization.LineChart(document
            .getElementById(id));
        chart.draw(data, options);
    }
    function refresh(period, type) {
        $.ajax({
            url: '/showData' + type,
            contentType: 'text/html',
            dataType: 'html',
            data: "period=" + period,
            success: function (data) {
                google.charts.setOnLoadCallback(function() { // Anonymous function that calls drawChart1 and drawChart2
                    drawChart("Датчик " + type, type, JSON.parse(data));
                });

            }
        });
    }
</script>