
<script xmlns:th="http://www.w3.org/1999/xhtml" th:inline="javascript">
    var real_data = /*[[${chartData}]]*/'noValue';
    var Title = /*[[${title}]]*/'noValue';
    var X_name = /*[[${X_name}]]*/'noValue';
    var Y_name = /*[[${Y_name}]]*/'noValue';
    var id = /*[[${id}]]*/'noValue';
    var additionalData = /*[[${additionalData}]]*/'noValue';
    var additionalY_names = /*[[${additionalY_names}]]*/'noValue';
    var chartType = /*[[${chartType}]]*/'noValue';

    $(document).ready(function() {
        google.charts.load('current', {
            packages : [ 'corechart', 'bar' ]
        });
        google.charts.setOnLoadCallback(drawColumnChart);
    });

    function drawColumnChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', X_name);
        data.addColumn('number', Y_name);
        if(additionalY_names !== 'noValue')
        {
            for(let i in additionalY_names){
                data.addColumn('number', additionalY_names[i]);
            }
        }
        Object.keys(real_data).forEach(function(key) {
            var dataArray = [key, real_data[key]];
            if(additionalData!=='noValue') {
                for(let i in additionalData){
                    if(typeof additionalData[i] == "object"){
                       dataArray.push(additionalData[i][key]);
                    }
                    else {
                        dataArray.push(additionalData[i]);
                    }

                }
            }
            data.addRow(dataArray);

        });

        var options = {
            title : Title,
            hAxis : {
                title : X_name,
            },
            explorer: {
                maxZoomOut:2,
                keepInBounds: true
            }/*,
            vAxis : {
                title : Y_name
            }*/
        };
        if(chartType==='line'){
            var chart = new google.visualization.LineChart(document
                .getElementById(id+'Chart'));
        }
        else{
            var chart = new google.visualization.ColumnChart(document
                .getElementById(id+'Chart'));
        }
        chart.draw(data, options);
    }

</script>