<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Группа [[${clusterNum}]]</title>
    <style>
        table{
            table-layout: fixed;
        }
        th,
        td {
            width: 65px;
            overflow: hidden;
            text-align: center;
            background-color: white;
        }
        h3, h2{
            margin: 40px 120px;
        }
    </style>

</head>
<div>
    <span th:replace="fragments/scripts :: scripts"></span>
    <h2 id="clusterNum" style="padding: 5px 20px 20px 20px">Группа [[${clusterNum}]]</h2>
    <h3>График средней температуры в группе</h3>


    <div id="dashboard_div" style="height: 500px">
        <div id="Chart" style="height: 70%">
        </div>
        <div id="control_div" style="height: 17%; width: 94%; margin: 0 3%">
        </div>
    </div>
    <h3>Модель температурного сигнала</h3>
    <div id="modelDashboard" style="height: 500px">
        <form action="/clusterModel" id="clusterModel">
            <div class="form-group row">
                <h4 class="col-sm-3 col-form-label">Дотяжка фазы:
                </h4>
                <div class="col-sm-2">
                    <input class="form-control" name="offset" type="number" step="0.1" autocomplete="off" id="offset">
                </div>
                <input type="hidden" name="clusterNum" th:attr="value=${clusterNum}">
                <div class="col-sm-2">
                    <input type="submit" value="Задать">
                </div>
            </div>
        </form>
        <div id="modelChart" style="height: 70%">
        </div>
        <div id="modelControl" style="height: 17%; width: 94%; margin: 0 3%">
        </div>

    </div>
    <h3>График фазы</h3>
    <div id="phaseDashboard" style="height: 500px">
        <div id="phaseChart" style="height: 70%">
        </div>
        <div id="phaseControl" style="height: 17%; width: 94%; margin: 0 3%">
        </div>
    </div>
    <h3>Спектор фазы</h3>
    <div class="row" style="margin: 15px 180px 0">
        <a href="/downloadPhaseSpector">Скачать спектор фазы</a>
    </div>
    <div id="phaseSpectorDashboard" style="height: 500px">
        <div id="phaseSpectorChart" style="height: 70%">
        </div>
        <div id="phaseSpectorControl" style="height: 17%; width: 94%; margin: 0 3%">
        </div>
    </div>
    <h3>График амплитуды</h3>
    <div id="amplitudesDashboard" style="height: 500px">
        <div id="amplitudesChart" style="height: 70%">
        </div>
        <div id="amplitudesControl" style="height: 17%; width: 94%; margin: 0 3%">
        </div>
    </div>
    <h3>Спектор амплитуды</h3>
    <div class="row" style="margin: 15px 180px 0">
        <a href="/downloadAmplitudeSpector">Скачать спектор амплитуды</a>
    </div>
    <div id="amplitudeSpectorDashboard" style="height: 500px">
        <div id="amplitudeSpectorChart" style="height: 70%">
        </div>
        <div id="amplitudeSpectorControl" style="height: 17%; width: 94%; margin: 0 3%">
        </div>
    </div>

    <div id="accordion" >
        <div class="card">
            <div id="headingOne" style="margin: 0 20px">
                <h3>
                    <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Матрица корреляции элементов группы из исходных фаз/амплитуд
                    </a>
                </h3>
            </div>

            <div id="collapseOne" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <h5>Макс. коэффициент: [[${maxCorr}]], мин. коэффициент: [[${minCorr}]]</h5>
                    <table class="table table-bordered" style="position: sticky;top: 0;">
                        <thead >
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center" th:each="member : ${groupMembers}"><a target='_blank' th:href="@{/dataAnalysisForStation(station=${member})}">[[${member}]]</a></th>
                        </tr>
                        </thead>
                    </table>
                    <table class="table table-bordered table-hover" style="table-layout:fixed;">
                        <tbody>
                        <tr th:each="memberCorr,iterStat : ${corrTable}">
                            <td style="position: sticky;left: 0;"><b>[[${groupMembers.get(iterStat.index)}]]</b></td>
                            <td th:each="corrValue : ${memberCorr}">[[${corrValue}]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:inline="javascript">
    var real_data = /*[[${chartData}]]*/'noValue';
    var Title = /*[[${title}]]*/'noValue';
    var X_name = /*[[${X_name}]]*/'noValue';
    var id = /*[[${id}]]*/'noValue';
    var phasesChart = /*[[${phases}]]*/'noValue'
    var phaseSpector = /*[[${phaseSpector}]]*/'noValue'
    var amplitudesChart = /*[[${amplitudes}]]*/'noValue'
    var amplitudeSpectorChart = /*[[${amplitudeSpector}]]*/'noValue'
    var modelChart = /*[[${clusterModel}]]*/'noValue'

    $(function() {
        $('form#clusterModel').submit(function(e) {
            //отмена действия по умолчанию для кнопки submit
            e.preventDefault();
            $('#errorPhase').text("");
            var $form = $(this);
            $.ajax({
                type: "GET",
                url: "/clusterModel",
                data: $form.serialize(),
                success: function(data) {
                    modelData.removeRows(0, modelData.getNumberOfRows());
                    Object.keys(data).forEach(function(key) {
                        var dataArray = [new Date(key), Number(data[key]), Number(real_data[key])];

                        modelData.addRow(dataArray);
                    });
                    modelDashboard.draw(modelData);
                },
                error: function() {
                    alert("error");
                }
            });

        });
    });


    $(document).ready(function() {
        google.charts.load('current', {
            packages : [ 'corechart', 'bar', 'controls'],
            'language': 'ru'
        });
        google.charts.setOnLoadCallback(drawTempChart);
        google.charts.setOnLoadCallback(drawPhaseChart);
        google.charts.setOnLoadCallback(drawPhaseSpector);
        google.charts.setOnLoadCallback(drawAmplitudesChart);
        google.charts.setOnLoadCallback(drawModelChart);
        google.charts.setOnLoadCallback(drawAmplitudesSpectorChart);
    });

    var data;
    var chart;
    var control;
    var dashboard;
    var options;

    function changeTrendLine(type, name){
        options.trendlines[0].type = type;
        options.trendlines[0].labelInLegend = name + " тренд";
        chart.options = options;
        dashboard.bind([control], [chart]);
        dashboard.draw(data);
    }

    function drawTempChart() {
        data = new google.visualization.DataTable();
        data.addColumn('date', X_name);
        data.addColumn('number', "Температура, С");
        Object.keys(real_data).forEach(function(key) {
            var dataArray = [new Date(key), Number(real_data[key])];

            data.addRow(dataArray);

        });

        options = {
            title : Title,
            hAxis : {
                title : X_name,
            },
            trendlines: { 0: {
                    visibleInLegend: true,
                    color: 'red',
                    labelInLegend: 'Тренд',
                }
            }
        };
            /*var chart = new google.visualization.LineChart(document
                .getElementById('Chart'));*/
        chart = new google.visualization.ChartWrapper({
            chartType: 'LineChart',
            options: options,
            containerId: 'Chart'
        });
        control = new google.visualization.ControlWrapper({
            controlType: 'ChartRangeFilter',
            containerId: 'control_div',
            state: {
                range: { start: data.getValue(0, 0), end: data.getValue(data.getNumberOfRows()/3, 0) },
            },
            options: {
                filterColumnIndex: 0,
            }
        });
        dashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div'));
        dashboard.bind([control], [chart]);
        dashboard.draw(data);
    }
    function drawPhaseChart() {
        let data = new google.visualization.DataTable();
        data.addColumn('date', "Дата");
        data.addColumn('number', "Типовая фаза");
        Object.keys(phasesChart).forEach(function(key) {
            var dataArray = [new Date(key), Number(phasesChart[key])];

            data.addRow(dataArray);

        });

        let options = {
            title : "Типовая фаза",
            hAxis : {
                title : "Дата",
            }
        };
        /*var chart = new google.visualization.LineChart(document
            .getElementById('Chart'));*/
        let chart = new google.visualization.ChartWrapper({
            chartType: 'LineChart',
            options: options,
            containerId: 'phaseChart'
        });
        let control = new google.visualization.ControlWrapper({
            controlType: 'ChartRangeFilter',
            containerId: 'phaseControl',
            state: {
                range: { start: data.getValue(0, 0), end: data.getValue(data.getNumberOfRows()/3, 0) },
            },
            options: {
                filterColumnIndex: 0,
            }
        });
        let dashboard = new google.visualization.Dashboard(document.getElementById('phaseDashboard'));
        dashboard.bind([control], [chart]);
        dashboard.draw(data);
    }
    function drawPhaseSpector() {
        let data = new google.visualization.DataTable();
        data.addColumn('number', "Отсчеты");
        data.addColumn('number', "Спектор фазы");
        Object.keys(phaseSpector).forEach(function(key) {
            var dataArray = [Number(key), Number(phaseSpector[key])];

            data.addRow(dataArray);

        });

        let options = {
            title : "Спектор фазы",
            hAxis : {
                title : "Отсчеты",
            }
        };
        /*var chart = new google.visualization.LineChart(document
            .getElementById('Chart'));*/
        let chart = new google.visualization.ChartWrapper({
            chartType: 'ColumnChart',
            options: options,
            containerId: 'phaseSpectorChart'
        });
        let control = new google.visualization.ControlWrapper({
            controlType: 'ChartRangeFilter',
            containerId: 'phaseSpectorControl',
            state: {
                range: { start: data.getValue(0, 0), end: data.getValue(data.getNumberOfRows()/2, 0) },
            },
            options: {
                filterColumnIndex: 0,
                ui: {
                    chartType: 'AreaChart',
                }
            }
        });
        let dashboard = new google.visualization.Dashboard(document.getElementById('phaseSpectorDashboard'));
        dashboard.bind([control], [chart]);
        dashboard.draw(data);
    }
    function drawAmplitudesChart() {
        let data = new google.visualization.DataTable();
        data.addColumn('date', "Дата");
        data.addColumn('number', "Типовая амплитуда");
        Object.keys(amplitudesChart).forEach(function(key) {
            var dataArray = [new Date(key), Number(amplitudesChart[key])];

            data.addRow(dataArray);


        });

        let options = {
            title : "Типовая амплитуда",
            hAxis : {
                title : "Дата",
            },
            trendlines: { 0: {
                    visibleInLegend: true,
                    color: 'red',
                    labelInLegend: 'Тренд',
                }
            }
        };
        /*var chart = new google.visualization.LineChart(document
            .getElementById('Chart'));*/
        let chart = new google.visualization.ChartWrapper({
            chartType: 'LineChart',
            options: options,
            containerId: 'amplitudesChart'
        });
        let control = new google.visualization.ControlWrapper({
            controlType: 'ChartRangeFilter',
            containerId: 'amplitudesControl',
            state: {
                range: { start: data.getValue(0, 0), end: data.getValue(data.getNumberOfRows()/3, 0) },
            },
            options: {
                filterColumnIndex: 0,
            }
        });
        let dashboard = new google.visualization.Dashboard(document.getElementById('amplitudesDashboard'));
        dashboard.bind([control], [chart]);
        dashboard.draw(data);
    }
    function drawAmplitudesSpectorChart() {
        let data = new google.visualization.DataTable();
        data.addColumn('number', "Отсчеты");
        data.addColumn('number', "Спектор амплитуды");
        Object.keys(amplitudeSpectorChart).forEach(function(key) {
            var dataArray = [Number(key), Number(amplitudeSpectorChart[key])];

            data.addRow(dataArray);

        });

        let options = {
            title : "Спектор амплитуды",
            hAxis : {
                title : "Отсчеты",
            }
        };
        /*var chart = new google.visualization.LineChart(document
            .getElementById('Chart'));*/
        let chart = new google.visualization.ChartWrapper({
            chartType: 'ColumnChart',
            options: options,
            containerId: 'amplitudeSpectorChart'
        });
        let control = new google.visualization.ControlWrapper({
            controlType: 'ChartRangeFilter',
            containerId: 'amplitudeSpectorControl',
            state: {
                range: { start: data.getValue(0, 0), end: data.getValue(data.getNumberOfRows()/2, 0) },
            },
            options: {
                filterColumnIndex: 0,
                ui: {
                    chartType: 'AreaChart',
                }
            }
        });
        let dashboard = new google.visualization.Dashboard(document.getElementById('amplitudeSpectorDashboard'));
        dashboard.bind([control], [chart]);
        dashboard.draw(data);
    }
    var modelData;
    var modelDashboard;
    function drawModelChart() {
        modelData = new google.visualization.DataTable();
        modelData.addColumn('date', "Дата");
        modelData.addColumn('number', "Модель темп. сигнала");
        modelData.addColumn('number', "Температура типовая");
        Object.keys(modelChart).forEach(function(key) {
            var dataArray = [new Date(key), Number(modelChart[key]), Number(real_data[key])];

            modelData.addRow(dataArray);

        });

        let options = {
            title : "Модель темп. сигнала",
            hAxis : {
                title : "Дата",
            },
            trendlines: { 0: {
                    visibleInLegend: true,
                    color: 'red',
                    labelInLegend: 'Тренд',
                }
            }
        };
        /*var chart = new google.visualization.LineChart(document
            .getElementById('Chart'));*/
        let chart = new google.visualization.ChartWrapper({
            chartType: 'LineChart',
            options: options,
            containerId: 'modelChart'
        });
        let control = new google.visualization.ControlWrapper({
            controlType: 'ChartRangeFilter',
            containerId: 'modelControl',
            state: {
                range: { start: data.getValue(0, 0), end: data.getValue(data.getNumberOfRows()/3, 0) },
            },
            options: {
                filterColumnIndex: 0,
            }
        });
        modelDashboard = new google.visualization.Dashboard(document.getElementById('modelDashboard'));
        modelDashboard.bind([control], [chart]);
        modelDashboard.draw(modelData);
    }
</script>