
<div align="center" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2></h2>
    <div id="chart_div" style="height: 450px"></div>

        <div class="form-group row">
            <label for="windowCounted" class="col-sm-5 col-form-label">Выберете окно (по умочанию рекомендованное):
            </label>
            <div class="col-sm-2">
                <input class="form-control" type="number" name="windowCounted"  autocomplete="off"
                       id="windowCounted" th:attr="value=${window}">
            </div>
        </div>
</div>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:inline="javascript">
    var real_data = /*[[${chartData}]]*/'noValue';

    $(document).ready(function() {
        google.charts.load('current', {
            packages : [ 'corechart', 'bar' ]
        });
        google.charts.setOnLoadCallback(drawColumnChart);
    });

    function drawColumnChart() {
        alert(real_data);
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'окно');
        data.addColumn('number', '% станций');
        Object.keys(real_data).forEach(function(key) {
            data.addRow([ key, real_data[key] ]);
        });
        var options = {
            title : 'Определение окна',
            hAxis : {
                title : 'Окно',
            },
            vAxis : {
                title : '% станций'
            }
        };
        var chart = new google.visualization.ColumnChart(document
            .getElementById('chart_div'));
        chart.draw(data, options);
    }

</script>