<div class="optional" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="form-group row">
        <label for="corr" class="col-sm-5 col-form-label">Коэффициент корреляции (от 0 до 1):
        </label>
        <div class="col-sm-2">
            <input class="form-control" type="text" name="corr" onkeyup="checkParams()" autocomplete="off"
                   id="corr" th:attr="value=${corr}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-12 col-form-label">Точность расчета:
        </label>
        <div class="col-sm-12">
            <div class="form-check form-check-inline">
                <input class="form-check-input" checked type="radio" name="isAccurate" id="accurateCalc" value="true">
                <label class="form-check-label" >Точный расчет</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="isAccurate" id="errorCalc" value="false">
                <label class="form-check-label" >Указать погрешность</label>
            </div>
        </div>
    </div>
    <div hidden="true" class="errorClass">
        <div class="form-group row">
            <label class="col-sm-5 col-form-label">Погрешность вычислений :
            </label>
            <div class="col-sm-2">
                <input class="form-control" type="text" name="sigma" autocomplete="off"
                       id="sigma" th:attr="value=${sigma}">
            </div>
        </div>
    </div>
    <div style="color: red" hidden id="error-element" class="form-group row">

    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <a id="countClustersButton" class="btn btn-primary" href="#ClustersFile" role="button">Выполнить расчет</a>
        </div>
        <div id="fileTypDownload" class="col-sm-3" hidden="true" >
            <a href="/downloadTypicals">Скачать файл с типовыми</a>
        </div>
        <div id="fileGroupsDownload" class="col-sm-3" hidden="true" >
            <a href="/downloadGroups">Скачать файл с группами</a>
        </div>
    </div>
</div>
<a name="ClustersFile"></a>

<script>
    $('#errorCalc').click(function() {
        $(".errorClass").attr("hidden",false);
    });

    $('#accurateCalc').click(function() {
        $(".errorClass").attr("hidden",true);
    });
    $('#countClustersButton').click(function() {
        var corr = $("input[type=text][name=corr]").val();
        var isAccurate = $("input[type=radio][name=isAccurate]:checked").val();
        var sigma = $("input[type=text][name=sigma]").val();
        $('#error-element').attr("hidden", true);
        if(corr==="" || (isAccurate==="false" && sigma==="")){
            $('#error-element').html('Заполните все поля');
            $('#error-element').attr("hidden", false);
        }
        else {
            $.ajax({
                url: '/countClusters',
                data: "corr=" + corr + "&isAccurate=" + isAccurate
                    + "&sigma=" + sigma,
                success: function () {
                    $('#fileTypDownload').attr("hidden", false);
                    $('#fileGroupsDownload').attr("hidden", false);
                }
            });
        }
    });

</script>