<div class="optional" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="clusterWarning" th:text="${phaseWarning}" class="warningMessage"></div>
    <form style="padding: 0; margin: 0" id="clusterForm"  action="/countPhase" method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label class="col-sm-5 col-form-label">Нижняя граница корреляции (от 0 до 1):
            </label>
            <div class="col-sm-2">
                <input class="form-control" type="text" name="corrDOWN" onkeyup="checkParams()" autocomplete="off"
                       id="corr1" value="0.8">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-5 col-form-label">Верхняя граница корреляции (от 0 до 1):
            </label>
            <div class="col-sm-2">
                <input class="form-control" type="text" name="corrUP" onkeyup="checkParams()" autocomplete="off"
                       id="corr2" value="1">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-form-label">Точность расчета:
            </label>
            <div class="col-sm-12">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" checked type="radio" name="isAccurate" id="accurateCalc" value="true">
                    <label class="form-check-label" >Точный расчет</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isAccurate" id="errorCalc" value="false">
                    <label class="form-check-label" >Указать погрешность</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-form-label">Расчет типовых из:
            </label>
            <div class="col-sm-12">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" checked type="radio" name="isFromPrev" id="fromPrevCalc" value="true">
                    <label class="form-check-label" >Из предыдущих</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isFromPrev" id="fromInitialCalc" value="false">
                    <label class="form-check-label" >Из исходных</label>
                </div>
            </div>
        </div>
        <div hidden="true" class="errorClass">
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Погрешность вычислений :
                </label>
                <div class="col-sm-2">
                    <input class="form-control" type="text" name="sigma" autocomplete="off"
                           id="sigma" value="0.1">
                </div>
            </div>
        </div>
        <div style="color: red" hidden id="error-element" class="col-sm-5 form-group row">

        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <input type="submit" id="countClustersButton" class="btn btn-primary" value="Выполнить расчет"/>
            </div>
            <div id="loaderCluster" class="loader" style="width: 30px; height: 30px; border-width: 4px; border-top-width: 4px" hidden="true" >
            </div>
            <span id="clusterError" style="color: red; margin-right: 15px">
            </span>
            <div id="fileTypDownload" class="col-sm-3" hidden="true" >
                <a href="/downloadTypicals">Скачать файл с типовыми</a>
            </div>
            <div id="fileGroupsDownload" class="col-sm-3" hidden="true" >
                <a href="/downloadGroups">Скачать файл с группами</a>
            </div>

        </div>
    </form>
</div>
<a name="ClustersFile"></a>

<script>
    $('#errorCalc').click(function() {
        $(".errorClass").attr("hidden",false);
    });

    $('#accurateCalc').click(function() {
        $(".errorClass").attr("hidden",true);
    });
    $('form#clusterForm').submit(function(e) {
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        $('#clusterError').text("");
        var $form = $(this);
            //Отображаем значок загузки
            $('#loaderCluster').attr("hidden", false);

            $.ajax({
                url: '/countClusters',
                data: $form.serialize(),
                success: function () {
                    //Скрываем значок загрузки
                    $('#loaderCluster').attr("hidden", true);
                    //Отображени файлы для скачивания
                    $('#fileTypDownload').attr("hidden", false);
                    $('#fileGroupsDownload').attr("hidden", false);
                    ////Расчет выполнен - убираем предупреждение
                    $('#classesWarning').html('');
                    $('#groupWarning').html('');
                    isClusterizationEnd = true;
                    //Управление кликабельностью кнопки для отображения карты
                    if(isGroopingEnd === true) $('#showOnMap').removeAttr('disabled');

                    $('#clusterError').text("Расчет выполнен");
                    $('#clusterError').css('color', 'green');
                },
                error: function(){
                    $('#loaderCluster').attr("hidden", true);
                    $('#clusterError').text("Ошибка вычислений");
                    $('#clusterError').css('color', 'red');
                }
            });

    });

</script>