<div  th:fragment="navbar (path)" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" th:href="@{/back.css}">
    <nav class="navbar navbar-expand-lg navbar-dark gradient-nav" style="background-color: #dcdede;">
        <div class="container">
            <a class="navbar-brand" href="/">Главная</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
<!--                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/resolve}">Расчет по температурам</a>
                    </li>-->
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="nav-link btn btn-link dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Мониторинг климатических зон
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a class="dropdown-item" th:href="@{/resolveModules}">Рассчет климатических кластеров (полный)</a>
                                <a class="dropdown-item" th:href="@{/resolveFunction}">Рассчет по непериодическим характеристикам</a>
                                <a class="dropdown-item" th:href="@{/resolveAverage}">Рассчет по средним температурам</a>
                                <a class="dropdown-item" th:href="@{/tomskRegionStations}">Томская область</a>
                                <a class="dropdown-item" th:href="@{/bptStations?correlation_coefficient=0.8}">Байкальская природная территория</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="nav-link btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Индикационные характеристики
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" href=""></a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="nav-link btn btn-link dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Мониторинг по метеодатчикам
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                                <a class="dropdown-item" th:href="@{/showData}">Данные датчиков</a>
                            </div>
                        </div>
                    </li>
                    <li th:if="${path == 'map'}" class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#modal-1">Изменить маркер</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>