<div class="optional">
    <div class="form-group row">
        <label class="col-sm-12 col-form-label">Выполнять расчет по:
        </label>
        <div class="col-sm-12">
            <div class="form-check form-check-inline">
                <input class="form-check-input" checked type="radio" name="isForPhase" id="forPhase" value="true">
                <label class="form-check-label" >Фазе</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="isForPhase" id="forAmplitude" value="false">
                <label class="form-check-label" >Амплитуде</label>
            </div>
        </div>
    </div>
    <div id="dataTypes" class="form-group row">
        <div class="col-sm-6">
            <a id="additional2">Указать режим вычисления окна</a> /
            <a id="additional3">Указать окно</a>
        </div>
    </div>
    <div class="dataClass">
        <div class="form-group row">
            <label class="col-sm-12 col-form-label">Вычисление окна:
            </label>
            <div class="col-sm-12">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" checked type="radio" name="isWindowManually" id="automaticWindow" value="0" onclick="modeChanged('NOTmanually')">
                    <label class="form-check-label" >Автоматически</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isWindowManually" id="manuallyWindow" value="1" onclick="modeChanged('manually')">
                    <label class="form-check-label" >Вручную</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isWindowManually" id="manuallyAsimetricWindow" value="2" onclick="modeChanged('manually')">
                    <label class="form-check-label" >Вручную (несимметричное)</label>
                </div>
                <div id="chartButton" class="form-check form-check-inline" hidden="true">
                    <a class="btn btn-primary" href="#underchart" role="button">Показать график</a>
                </div>
            </div>
        </div>

        <div hidden="true" id="chartPlace" style="min-height: 350px">
            <div class="loader" style="margin: 0 auto;"></div>
            <div id="chart"></div>
        </div>
        <a name="underchart"></a>
    </div>
    <div hidden="true" class="windowClass">
        <div class="form-group row">
            <label class="col-sm-5 col-form-label">Размер окна :
            </label>
            <div class="col-sm-2">
                <input class="form-control" type="text" name="windowLeft" onkeyup="checkParams()" autocomplete="off"
                       id="windowLeft" value="1">
            </div>
            <div class="col-sm-2">
                <input class="form-control" type="text" name="windowRight" onkeyup="checkParams()" autocomplete="off"
                       id="windowRight" value="111">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <a id="countPhaseButton" class="btn btn-primary" href="#PhaseFile" role="button">Выполнить расчет</a>
        </div>
        <div id="loaderPhase" class="loader" style="width: 30px; height: 30px; border-width: 4px; border-top-width: 4px" hidden="true" >
        </div>
        <div id="fileDownload" class="col-sm-3" hidden="true" >
            <a href="/downloadPhases">Скачать файл с фазами</a>
        </div>
    </div>
</div>
<a name="PhaseFile"></a>
<script>
    function modeChanged(mode){
        if(mode === 'manually'){
            $('#chartButton').attr('hidden',false);
            $('#countPhaseButton').attr('hidden',true);
        }
        else{
            $('#chartButton').attr('hidden',true);
            $('#countPhaseButton').attr('hidden',false);

        }
        $('#fileDownload').attr("hidden", true);
        $('#chart').html('');
        $('#chartPlace').attr("hidden", true);
        $(".loader").attr("hidden", false);
    }
    $('#additional2').click(function() {
        if($('.dataClass').attr("hidden"))
        {
            $(".dataClass").attr("hidden",false);
            $("#windowLeft").attr("value", null);
            $("#windowRight").attr("value",null);

            //Не понимаю что дабивалась этой строчкой
            // var type = $('#dataType').val();
           // $('input[name="dataType"][value='+type+']').prop('checked', true);
        }
        else{
            $(".dataClass").attr("hidden",true);
        }
        $(".windowClass").attr("hidden",true);
    });
    $('#additional3').click(function() {
        if($('.windowClass').attr("hidden"))
        {
            $(".windowClass").attr("hidden",false);
            $("#windowLeft").attr("value", $('#windowLeft').val());
            $("#windowRight").attr("value", $('#windowRight').val());
            //Не понимаю что дабивалась этой строчкой
            // $('input[name="dataType"]').prop('checked', false);

        }
        else{
            $(".windowClass").attr("hidden",true);
        }
        $(".dataClass").attr("hidden",true);
    });
    $('#chartButton').click(function() {
        $('#chartPlace').attr("hidden", false);

        var data;
        if(!$('#chartButton').attr("hidden")){
            if($('input[name="isWindowManually"][value="1"]').prop('checked'))
            {
                data=1;
            }
            else{
                data=2;
            }
            $.ajax({
                url: '/showChart',
                contentType: 'text/html',
                dataType: 'html',
                data: "isWindowManually="+data,
                success: function (html) {
                    $(".loader").attr("hidden", true);
                    $('#chart').append(html);
                    $('#countPhaseButton').attr('hidden',false);
                }
            })
        }
    });
    $('#countPhaseButton').click(function() {
        $('#loaderPhase').attr("hidden", false);

        var windowDelta = $("input[name=windowCounted]").val();
        var isForPhase = $("input[type=radio][name=isForPhase]:checked").val();
        var isWindowManually = $("input[type=radio][name=isWindowManually]:checked").val();
        var windowLeft = $("input[type=text][name=windowLeft]").val();
        var windowRight = $("input[type=text][name=windowRight]").val();
        if(windowDelta===undefined) windowDelta = "";
        $.ajax({
            url: '/countPhase',
            data: "isForPhase=" + isForPhase + "&windowCounted=" + windowDelta
                + "&isWindowManually=" + isWindowManually + "&windowLeft=" + windowLeft
                + "&windowRight=" + windowRight,
            success: function () {
                $('#loaderPhase').attr("hidden", true);
                $('#fileDownload').attr("hidden", false);
            }
        });
    });
</script>