<div class="optional">
    <form style="padding: 0; margin: 0" id="phaseForm"  action="/countPhase" method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label class="col-sm-12 col-form-label">Выполнять расчет по:
            </label>
            <div class="col-sm-12">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" checked type="radio" name="isForPhase" id="forPhase" value="true">
                    <label class="form-check-label" >Фазе</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isForPhase" id="forAmplitude" value="false">
                    <label class="form-check-label" >Амплитуде</label>
                </div>
            </div>
        </div>
        <div id="dataTypes" class="form-group row">
            <div class="col-sm-6">
                <button onclick="onAdditional2Click()" type="button" class="btn btn-link">Указать режим вычисления окна</button>
                /<button onclick="onAdditional3Click()" type="button" class="btn btn-link">Указать окно</button>
            </div>
        </div>
        <div class="dataClass">
            <div class="form-group row">
                <label class="col-sm-12 col-form-label">Вычисление окна:
                </label>
                <div class="col-sm-12">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" checked type="radio" name="isWindowManually" id="automaticWindow" value="0" onclick="modeChanged('NOTmanually')">
                        <label class="form-check-label" >Автоматически</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="isWindowManually" id="manuallyWindow" value="1" onclick="modeChanged('manually')">
                        <label class="form-check-label" >Вручную</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="isWindowManually" id="manuallyAsimetricWindow" value="2" onclick="modeChanged('manually')">
                        <label class="form-check-label" >Вручную (несимметричное)</label>
                    </div>
                    <div id="chartButton" class="form-check form-check-inline" hidden="true">
                        <a class="btn btn-primary" href="#underchart" role="button">Показать график</a>
                    </div>
                    <span id="errorChart" style="color: red">
                    </span>
                </div>
                <label class="col-sm-12 col-form-label">Дотяжка фазы до нуля:
                </label>
                <div class="col-sm-12">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" checked type="radio" name="toZero" id="toZeroTrue" value="true">
                        <label class="form-check-label" >Выполнять</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="toZero" id="toZeroFalse" value="false">
                        <label class="form-check-label" >Не выполнять</label>
                    </div>
                </div>
            </div>

            <div hidden="true" id="chartPlace" style="min-height: 350px">
                <div id="chartLoader" class="loader" style="margin: 0 auto;"></div>
                <div id="chart"></div>
            </div>
            <a name="underchart"></a>
        </div>
        <div hidden="true" class="windowClass">

        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <input type="submit" id="countPhaseButton" onclick="getChecked()" class="btn btn-primary" value="Выполнить расчет">
            </div>
            <div id="loaderPhase" class="loader" style="width: 30px; height: 30px; border-width: 4px; border-top-width: 4px" hidden="true" >
            </div>
            <span id="errorPhase" style="color: red; margin-right: 15px">
                    </span>
            <div id="fileDownload" class="col-sm-2" hidden="true" >
                <a href="/downloadPhases">Скачать файл с фазами</a>
            </div>


            </div>

    </form>
</div>
<a name="PhaseFile"></a>
<script>
    function modeChanged(mode){
        if(mode === 'manually'){
            $('#chartButton').attr('hidden',false);
            $('#countPhaseButton').attr('hidden',true);
        }
        else{
            $('#chartButton').attr('hidden',true);
            $('#countPhaseButton').attr('hidden',false);

        }
        $('#fileDownload').attr("hidden", true);
        $('#chart').html('');
        $('#chartPlace').attr("hidden", true);
        $("#chartLoader").attr("hidden", false);
    }
    $('#additional2').click(function() {
        if($('.dataClass').attr("hidden"))
        {
            $(".dataClass").attr("hidden",false);
            $("#windowLeft").attr("value", null);
            $("#windowRight").attr("value",null);

            //Не понимаю что добивалась этой строчкой
            // var type = $('#dataType').val();
            // $('input[name="dataType"][value='+type+']').prop('checked', true);
        }
        else{
            $(".dataClass").attr("hidden",true);
        }
        $(".windowClass").attr("hidden",true);
    });
    $('#additional3').click(function() {
        if($('.windowClass').attr("hidden"))
        {
            $(".windowClass").attr("hidden",false);
            $("#windowLeft").attr("value", $('#windowLeft').val());
            $("#windowRight").attr("value", $('#windowRight').val());
            //Не понимаю что дабивалась этой строчкой
            // $('input[name="dataType"]').prop('checked', false);

        }
        else{
            $(".windowClass").attr("hidden",true);
        }
        $(".dataClass").attr("hidden",true);
    });
    $('#chartButton').click(function() {
        $('#chartPlace').attr("hidden", false);

        var data;
        if(!$('#chartButton').attr("hidden")){
            if($('input[name="isWindowManually"][value="1"]').prop('checked'))
            {
                data=1;
            }
            else{
                data=2;
            }
            $.ajax({
                url: '/showChart',
                contentType: 'text/html',
                dataType: 'html',
                data: "isWindowManually="+data,
                success: function (html) {
                    $(".loader").attr("hidden", true);
                    $('#chart').html(html);
                    $('#countPhaseButton').attr('hidden',false);
                },
                error: function(){
                    $('.loader').attr("hidden", true);
                    $('#errorChart').text("Ошибка вычислений");
                }
            })
        }
    });
    $(function() {
        $('form#phaseForm').submit(function(e) {
            $('#loaderPhase').attr("hidden", false);
            //отмена действия по умолчанию для кнопки submit
            e.preventDefault();
            $('#errorPhase').text("");
            var $form = $(this);
            $.ajax({
                type: "GET",
                url: "/countPhase",
                data: $form.serialize(),
                success: function(output) {
                    //Скрываем значок загрузки
                    $('#loaderPhase').attr("hidden", true);
                    //Отображени файлы для скачивания
                    $('#fileDownload').attr("hidden", false);
                    //Расчет выполнен - убираем предупреждение
                    $('#clusterWarning').html('');
                    $('#errorPhase').text("Расчет выполнен (" + output + ")");
                    $('#errorPhase').css('color', 'green');
                },
                error: function() {
                    $('#loaderPhase').attr("hidden", true);
                    $('#errorPhase').text("Ошибка вычислений");
                    $('#errorPhase').css('color', 'red');
                }
            });

        });
    });
</script>