<div  th:fragment="scripts" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    input:read-only { color:grey; }
    .warningMessage{
        color: gray;
    }
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    #additional,#additional2,#additional3{
        color: blue;
    }
    #additional:hover,
    #additional2:hover,
    #additional3:hover{
        color: royalblue;
        text-decoration: underline;
    }
    .optional{
        border: 1px solid #f4fdff;
        background-color: #f4fdff;
        border-radius: 8px;
        padding-left: 15px;
        margin: 10px 10px 20px 10px;
        padding-top: 15px;
    }
    .dataClass,.windowClass,.errorClass, .underElementClass{
        border: 1px solid #ffffff;
        background-color: #ffffff;
        border-radius: 8px;
        padding-left: 15px;
        margin: 10px 10px 20px 10px;
        padding-top: 15px;
    }
    form{
        padding: 0 12% 0 12%;
    }
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231d1d4e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231d1d4e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
    .carousel-indicators li{
        background-color: #1212a0;
    }
    .centers {
        width: 18%;
        padding-left: 3%;
        margin-top: 20px;
        float: left;
        position: relative;
        font-weight: 600;
        font-size: large;
    }
    .slider {
        position: relative;
        overflow: hidden;
        margin-left: 30%;
    }

    .slider__wrapper {
        display: flex;
        transition: transform 0.6s ease;
    }

    .slider__item {
        flex: 0 0 50px;
        max-width: 50px;
        height: 15px;
    }

    .slider__control {
        position: absolute;
        top: 50%;
        display: none;
        align-items: center;
        justify-content: center;
        width: 22px;
        color: #fff;
        text-align: center;
        opacity: 0.5;
        height: 50px;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
    }

    .slider__control_show {
        display: flex;
    }

    .slider__control:hover,
    .slider__control:focus {
        color: #fff;
        text-decoration: none;
        outline: 0;
        opacity: .9;
    }

    .slider__control_left {
        left: 0;
    }

    .slider__control_right {
        right: 0;
    }

    .slider__control::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
    }

    .slider__control_left::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__item>.div1 {
        width: 25%;
        height: 15px;
        border-radius: 50%;
        float: left;
    }
    .slider__item>.div2 {
        line-height: 15px;
        width: 30%;
        color: black;
        font-size: 15px;
        text-align: center;
        float: left;
    }
</style>
</div>