<div class="optional" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="groupWarning" th:text="${warning}" class="warningMessage"></div>
    <div class="form-group row">
            <label class="col-sm-5 col-form-label">Минимальный размер групп:
            </label>
            <div class="col-sm-2">
                <input required class="form-control" type="number" name="minGroupSize" onkeyup="checkParams()" autocomplete="off"
                       id="minGroupSize" value="5">
            </div>
        </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <input type="checkbox" name="groupCross" class="groupCross" value="true">&nbsp;&nbsp;Отображать группы с пересечением
        </div>
    </div>
        <div style="color: red" hidden id="error-element" class="form-group row"></div>

        <div class="form-group row">
            <div class="col-sm-3">
                <a id="groupsButton" class="btn btn-primary" href="#fileJSONDownload" role="button">Выполнить расчет</a>
             </div>
            <div id="loaderGroup" class="loader" style="width: 30px; height: 30px; border-width: 4px; border-top-width: 4px" hidden="true" >
            </div>
            <div id="fileJSONDownload" class="col-sm-3" hidden="true" >
                <a href="/downloadJSON">Скачать файл</a>
            </div>
            <div id="fileGeoDownload" class="col-sm-3" hidden="true" >
                <a href="/downloadGeographicCharacters">Отчет о рассчетах</a>
            </div>
            <span id="error" style="color: red">
            </span>
        </div>
</div>

<script>
    $('#groupsButton').click(function() {
        var minGroupSize = $("input[type=number][name=minGroupSize]").val();
        var groupCross = $("input[type=checkbox][name=groupCross]:checked").val();
        $('#error-element').attr("hidden", true);
        if(minGroupSize===""){
            $('#error-element').html('Заполните все поля');
            $('#error-element').attr("hidden", false);
        }
        else {
            $('#loaderGroup').attr("hidden", false);
            $.ajax({
                url: '/toMap',
                data: "minGroupSize=" + minGroupSize + "&groupCross=" + groupCross,
                success: function () {
                    isGroopingEnd = true;
                    $('#loaderGroup').attr("hidden", true);
                    $('#fileJSONDownload').attr("hidden", false);
                    $('#fileGeoDownload').attr("hidden", false);
                    if(isClusterizationEnd === true) $('#showOnMap').removeAttr('disabled');
                },
                error: function(){
                    $('#loaderGroup').attr("hidden", true);
                    $('#error').text("Ошибка вычислений");
                }
            });
        }
    });

</script>