<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/scripts :: scripts"></div>
    <title>Title</title>
    <style>
        li.dev{
            font-size: x-large;
        }
    </style>
</head>
<body class="gradient">
<header>
    <div th:replace="fragments/navbar :: navbar (${'index'})"></div>
</header>
<div class="container mt-2" >
    <h3>Разработчики: </h3>
    <ul type="circle">
        <li class="dev">Харченко Антон Романович</li>
        <li class="dev">Сорокин Василий Александрович</li>
        <li class="dev">Якоби Елизавета Вячеславовна</li>
    </ul>
    <h3>Руководитель - Волков Юрий Викторович т. +7 903 914-77-65</h3>
</div>

</body>
</html>