<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/scripts :: scripts"></div>
    <title>Title</title>
</head>
<body class="gradient">
<header>
    <div th:replace="fragments/navbar :: navbar (${'index'})"></div>
</header>
<div class="container">
    <h2>Программный комплекс климато-экологического мониторинга</h2>

<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Индикаторы -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active controls"></li>
        <li data-target="#carousel" data-slide-to="1" class="controls"></li>
        <li data-target="#carousel" data-slide-to="2" class="controls"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img height="400px" class="rounded mx-auto d-block" th:src="@{/img/1.png}"  alt="logo">
        </div>
        <div class="carousel-item">
            <img height="400px" class="rounded mx-auto d-block" th:src="@{/img/2.png}" alt="...">
        </div>
    </div>
    <!-- Элементы управления -->
    <a class="carousel-control-prev controls" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Предыдущий</span>
    </a>
    <a class="carousel-control-next controls" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Следующий</span>
    </a>
</div>
</div>
</body>
</html>