<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>

    <title>Расчет</title>
</head>
<header>
    <div th:replace="fragments/navbar :: navbar (${'resolve'})"></div>
</header>
<body class="gradient">
<span th:replace="fragments/scripts :: scripts"></span>
<!-- Обработка ошибок -->
<div th:if="${error}">
    <div class="container">
        <div class="row p-3">
            <div class="col-12">
                <div class="toast shadow-lg" id='toast1' data-autohide="false">
                    <div class="toast-header bg-danger p-2">
                        <strong class="mr-auto text-light">Ошибка <span th:text="${error}"></span></strong>
                        <button type="button" class="mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#toast1').toast({
            animation: true,
            autohide: true,
            delay: 4000
        })
        $('.toast').toast('show');
    </script>
</div>


<div class="mt-2" >
    <div>

        <form action="/check" method="post" enctype="multipart/form-data" id="form1" >
            <div class="p-3 border border-dark rounded">
                <!--<div class="form-group row">
                    <span class="col-sm-12 col-form-label">
                    <label >Первой строкой в файле укажите, по какой оси расположены станции в формате "станции по у"&nbsp;</label>

                        <img data-toggle="tooltip" title="<img src='/img/example.jpg' width='160' height='150'/>" src="/img/question-circle-regular.svg" width='18' height='18'>

                    </span>
                </div>-->
                <div class="form-group row">
                    <label ></label>
                    <label th:text="'Файл температур:&nbsp;&nbsp;&nbsp;' + (${tempers}?${tempers}:'')" class="col-sm-3 col-form-label">
                    </label>
                    <div class="col-sm-4">

                        <input  type="file" class="custom-file-input" name="fileTemp" accept="text/plain"
                               onchange="checkParams();" autocomplete="off" id="fileTemp"  th:attr="value=${tempers}">
                        <label th:text="(${tempers}?'Выбрать другой файл':'Добавить txt файл..')" class="custom-file-label" data-browse="Загрузить" for="fileTemp"></label>
                    </div>
                    <div class="col-sm-5 row">
                        <label class="col-sm-4 pl-3">Отсчеты:</label>
                        <div class="col-sm-4">
                            <input class="form-check-input" type="radio" name="tempType" id="tempsLine" value="true">
                            <label class="form-check-label">В строку</label>
                            <img data-toggle="tooltip" title="<img src='/img/TempsStrEx.jpg' width='185' height='175'/>" src="/img/question-circle-regular.svg" width='12' height='12'>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-check-input" checked type="radio" name="tempType" id="tempsCol" value="false">
                            <label class="form-check-label">В столбец</label>
                            <img data-toggle="tooltip" title="<img src='/img/TempsColEx.jpg' width='185' height='175'/>" src="/img/question-circle-regular.svg" width='12' height='12'>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="temps" th:attr="value=${tempers}">
                <input type="hidden" id="coords" th:attr="value=${coords}">
                <input type="hidden" id="dataType" th:attr="value=${dataType}">
                <input type="hidden" id="tempType" th:attr="value=${tempType}">
                <input type="hidden" id="cordType" th:attr="value=${cordType}">
                <input type="hidden" id="isForPhase" th:attr="value=${isForPhase}">
                <input type="hidden" id="isModules" name="isModules" th:attr="value=${isModules}">
                <input type="hidden" id="isStationsOnY" th:attr="value=${isStationsOnY}">
                <div class="form-group row">

                    <label th:text="'Файл координат:&nbsp;&nbsp;&nbsp;' + (${coords}?${coords}:'')" class="col-sm-3 col-form-label">
                    </label>

                    <div class="col-sm-4">
                        <input  type="file" class="custom-file-input" name="fileCoordinates" accept="text/plain"
                               onchange="checkParams()" autocomplete="off" id="fileCoordinates" th:attr="value=${coords}">
                        <label th:text="(${tempers}?'Выбрать другой файл':'Добавить txt файл..')" class="custom-file-label" data-browse="Загрузить" for="fileCoordinates"></label>
                    </div>
                    <div class="col-sm-5 row">
                        <label class="col-sm-4 pl-3">Координаты:</label>
                        <div class="col-sm-4">
                            <input class="form-check-input" type="radio" name="cordsType" id="cordsLine" value="false">
                            <label class="form-check-label">В строку</label>
                            <img data-toggle="tooltip" title="<img src='/img/CordsStrEx.jpg' width='185' height='180'/>" src="/img/question-circle-regular.svg" width='12' height='12'>

                        </div>
                        <div class="col-sm-4">
                            <input class="form-check-input" checked type="radio" name="cordsType" id="cordsCol" value="true">
                            <label class="form-check-label">В столбец</label>
                            <img data-toggle="tooltip" title="<img src='/img/CordsColEx.jpg' width='185' height='175'/>" src="/img/question-circle-regular.svg" width='12' height='12'>
                        </div>
                    </div>


                </div>
                <div id="message" hidden class="row p-3">
                    <span style="color: gray" id="TextMessage"></span>
                </div>
                <div class="row">
                    <button onclick="setAdditionalParams()" type="button" class="btn btn-link">Дополнительные параметры в файле координат&nbsp;&nbsp;<img data-toggle="tooltip" title="По умолчанию 3 обязательных парамтра: номер, широта, долгота. Возможно указать дополнительные парамерты в порядке следования в файле (Название станции, н.у.м и др.)" src="/img/question-circle-regular.svg" width='12' height='12'>
                    </button>
                </div>
                <div id="parentAdditional" hidden="true" >
                    <div id="fileParameters"></div>
                    <div class="optional row p-1 mt-0" onclick="setAdditionalParams()">
                        <img src="/img/add.png" width='25' height='25' style="margin-left: auto;margin-right: auto;">

                    </div>
                </div>
                <div class="form-group row">
                    <label for="periodStart" class="col-sm-4 col-form-label">Данные получены за период с:
                    </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="date" name="periodStart" onkeyup="checkParams()" autocomplete="off"
                               th:attr="value=${periodStart}" id="periodStart" >
                    </div>
                    <label class="col-sm-1 col-form-label">
                    </label>
                    <label for="periodEnd" class="col-sm-1 col-form-label">по:
                    </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="date" name="periodEnd" onkeyup="checkParams()" autocomplete="off"
                               th:attr="value=${periodEnd}" id="periodEnd" >
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Периодичность данных:
                    </label>
                    <div class="col-sm-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" checked type="radio" name="dataType" id="avrgMonth" value="12">
                            <label class="form-check-label" for="avrgMonth">Среднемесячные</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="dataType" id="avrgDay" value="365">
                            <label class="form-check-label" for="avrgDay">Среднесуточные</label>
                        </div>
                        <input type="hidden" name="fileAdditionalParameters" id="fileAdditionalParameters">
                        <div style="float: right; margin-right: 10%">
                            <input formaction="/сheck" onclick="checkParams();getParams();submitForm('/check')" id="submit"  style="width: 120%" type="submit" class="btn btn-outline-secondary btn-block" value="Проверить" disabled/>
                        </div>
                        <div style="float: right; margin-right: 10%">
                            <input id="submit2" onclick="submitForm('/withNoCheck')"  style="width: 120%" type="submit" class="btn btn-outline-secondary btn-block" value="Расчет без проверки" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="resolveParams"></div>
    </div>
</div>

<script>
    function optionsAdder() {
        if($('#additionalOptions').attr("hidden"))
        {
            $("#additionalOptions").attr("hidden",false);
        }
        else{
            $("#additionalOptions").attr("hidden",true);
        }
    }
    function onAdditional2Click() {
        if($('.dataClass').attr("hidden"))
        {
            $(".dataClass").attr("hidden",false);
            $("#windowLeft").attr("value", null);
            $("#windowRight").attr("value",null);
            var type = $('#dataType').val();
            $('input[name="dataType"][value='+type+']').prop('checked', true);
        }
        else{
            $(".dataClass").attr("hidden",true);
        }
        $(".windowClass").attr("hidden",true);
    }
    function onAdditional3Click() {
        if($('.windowClass').attr("hidden"))
        {

            $.ajax({
                url: '/windowLimits',
                contentType: 'text/html',
                dataType: 'html',
                success: function (html) {
                    $('.windowClass').html(html);
                    $(".windowClass").attr("hidden",false);
                    $("#windowLeft").attr("value", $('#windowLeft').val());
                    $("#windowRight").attr("value", $('#windowRight').val());
                    $('input[name="dataType"]').prop('checked', false);
                }
            })
        }
        else{
            $(".windowClass").attr("hidden",true);
            $('.windowClass').html('');
        }
        $(".dataClass").attr("hidden",true);
    }

    function errorCalc() {
        $(".errorClass").attr("hidden",false);
    }

    function accurateCalc() {
        $(".errorClass").attr("hidden",true);
    }
    var url;
    function submitForm(uri){
        url = uri;
    }
    $(function() {
        $('form').submit(function(e) {
            //отмена действия по умолчанию для кнопки submit

            var $form = $(this);
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: url,
                processData: false,
                contentType: false,
                data: new FormData($form[0]),
                success: function(html) {
                    $("#resolveParams").html(html);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                //var err = eval("(" + jqXHR.responseText + ")");
                    alert("error");
                    //$("#errorLabel").html(jqXHR.responseText);
                }
            });

        });
    });
    window.onload = function (){
        $('img[data-toggle="tooltip"]').tooltip({
            html: true
        });

        var cordType = $('#cordType').val();
        if(cordType!=null) $('input[name="cordsType"][value='+cordType+']').prop('checked', true);
        var tempType = $('#tempType').val();
        if(tempType!=null) $('input[name="tempType"][value='+tempType+']').prop('checked', true);
        var isForPhase = $('#isForPhase').val();
        if(isForPhase!=null) $('input[name="isForPhase"][value='+isForPhase+']').prop('checked', true);

        var type = $('#dataType').val();
        if(type!=null) $('input[name="dataType"][value='+type+']').prop('checked', true);

        checkParams();
    }

    //стиль закрузки файла
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    //проверка
    function checkParams() {
            var temps = $('#temps').val();
            var coords = $('#coords').val();

            /*        if(corr !== 0)
        {
            alert(corr);
            if(temps !== "" || fileTemp.value != 0)
            {
                alert(fileTemp.value + " " + temps);
                if(fileCoordinates.value != 0 || coords !== null)
                {
                    alert(fileCoordinates.value  + " " + coords);
                }
            }
        }
        alert(temps + "...." + coords + ".." + corr + "...." + fileTemp.value + ".." + fileCoordinates.value)*/
            if ((fileTemp.value != 0 || temps !== "") && (fileCoordinates.value != 0 || coords !== "")) {
                $('#submit').removeAttr('disabled');
                $('#submit2').removeAttr('disabled');
            } else {
                $('#submit').attr('disabled', 'disabled');
                $('#submit2').attr('disabled', 'disabled');
            }

    }
    function modeChanged(mode){
        if(mode === 'manually'){
            $('#chartButton').attr('hidden',false);
            $('#countPhaseButton').attr('hidden',true);
        }
        else{
            $('#chartButton').attr('hidden',true);
            $('#countPhaseButton').attr('hidden',false);

        }
        $('#fileDownload').attr("hidden", true);
        $('#chart').html('');
        $('#chartPlace').attr("hidden", true);
        $("#chartLoader").attr("hidden", false);
    }
    function chartButton() {
        $('#chartPlace').attr("hidden", false);

        var data;
        if(!$('#chartButton').attr("hidden")){
            if($('input[name="isWindowManually"][value="1"]').prop('checked'))
            {
                data=1;
            }
            else{
                data=2;
            }
            $.ajax({
                url: '/showChart',
                contentType: 'text/html',
                dataType: 'html',
                data: "isWindowManually="+data,
                success: function (html) {
                    $(".loader").attr("hidden", true);
                    $('#chart').append(html);
                    $('#countPhaseButton').attr('hidden',false);
                }
            })
        }
    }
    function showClassification(){
        $('#classification').attr('hidden', !$('input[name="classification"]').prop('checked'));
    }
    var paramIds = 4;
    var paramCounter = 3;
    function setAdditionalParams(){
        $.ajax({
            url: '/getAdditionalParamFragment',
            contentType: 'text/html',
            dataType: 'html',
            data: 'paramNumber=' + paramIds++,
            success: function (html) {
                paramCounter++;
                $('#fileParameters').append(html);
                //$(".paramNumber").last().append("<b>Параметр " + paramCounter++ + "</b>");
                $('#parentAdditional').attr('hidden',false);
            }
        })
    }
    function deleteFileParam(id){
        paramCounter--;
        $("#" + id).html('');
        if(paramCounter === 3){
            $('#parentAdditional').attr('hidden',true);
        }

    }
    function getParams(){
        var params = "";
        $('.parameter').each(function (index, element) {
            if(index % 2 !== 0){
                params += $(element).prop('checked') + "delimiter";
            }
            else {
                params += $(element).val() + "delimiter";
            }
        });
        $("#fileAdditionalParameters").val(params);
    }
</script>
</body>
</html>