<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/scripts :: scripts"></div>
    <title>Расчет</title>
</head>
<header>
    <div th:replace="fragments/navbar :: navbar (${'resolve'})"></div>
</header>
<body class="gradient">
<!-- Обработка ошибок -->
<div th:if="${error}">
    <div class="container">
        <div class="row p-3">
            <div class="col-12">
                <div class="toast shadow-lg" id='toast1' data-autohide="false">
                    <div class="toast-header bg-danger p-2">
                        <strong class="mr-auto text-light">Ошибка <span th:text="${error}"></span></strong>
                        <button type="button" class="mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#toast1').toast({
            animation: true,
            autohide: true,
            delay: 4000
        })
        $('.toast').toast('show');
    </script>
</div>


<div class="mt-2" >
    <div>
        <form th:action="@{/resolveAverage}" target="_blank" method="post" enctype="multipart/form-data" id="form1" >
            <div class="p-4 border border-dark rounded">
                <input type="hidden" id="tempType" th:attr="value=${tempType}">
                <input type="hidden" id="cordType" th:attr="value=${cordType}">
                <div class="form-group row">
                    <label ></label>
                    <label th:text="'Файл температур:&nbsp;&nbsp;&nbsp;' + (${tempers}?${tempers}:'')" class="col-sm-3 col-form-label">
                    </label>
                    <div class="col-sm-4">

                        <input  type="file" class="custom-file-input" name="fileTemp" accept="text/plain"
                                onchange="checkParams()" autocomplete="off" id="fileTemp"  th:attr="value=${tempers}">
                        <label th:text="(${tempers}?'Выбрать другой файл':'Добавить txt файл..')" class="custom-file-label" data-browse="Загрузить" for="fileTemp"></label>
                    </div>
                    <div class="col-sm-5 row">
                        <label class="col-sm-4 pl-3">Отсчеты:</label>
                        <div class="col-sm-4">
                            <input class="form-check-input" checked type="radio" name="tempType" id="tempsLine" value="true">
                            <label class="form-check-label">В строку</label>
                            <img data-toggle="tooltip" title="<img src='/img/TempsStrEx.jpg' width='185' height='175'/>" src="/img/question-circle-regular.svg" width='12' height='12'>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-check-input" type="radio" name="tempType" id="tempsCol" value="false">
                            <label class="form-check-label">В столбец</label>
                            <img data-toggle="tooltip" title="<img src='/img/TempsColEx.jpg' width='185' height='175'/>" src="/img/question-circle-regular.svg" width='12' height='12'>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label th:text="'Файл координат:&nbsp;&nbsp;&nbsp;' + (${coords}?${coords}:'')" class="col-sm-3 col-form-label">
                    </label>
                    <div class="col-sm-4">
                        <input  type="file" class="custom-file-input" name="fileCoordinates" accept="text/plain"
                                onchange="checkParams()" autocomplete="off" id="fileCoordinates" th:attr="value=${coords}">
                        <label th:text="(${tempers}?'Выбрать другой файл':'Добавить txt файл..')" class="custom-file-label" data-browse="Загрузить" for="fileCoordinates"></label>
                    </div>
                    <div class="col-sm-5 row">
                        <label class="col-sm-4 pl-3">Координаты:</label>
                        <div class="col-sm-4">
                            <input class="form-check-input" checked type="radio" name="cordsType" id="cordsLine" value="false">
                            <label class="form-check-label">В строку</label>
                            <img data-toggle="tooltip" title="<img src='/img/CordsStrEx.jpg' width='185' height='180'/>" src="/img/question-circle-regular.svg" width='12' height='12'>

                        </div>
                        <div class="col-sm-4">
                            <input class="form-check-input" type="radio" name="cordsType" id="cordsCol" value="true">
                            <label class="form-check-label">В столбец</label>
                            <img data-toggle="tooltip" title="<img src='/img/CordsColEx.jpg' width='185' height='175'/>" src="/img/question-circle-regular.svg" width='12' height='12'>

                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="radius" class="col-sm-5 col-form-label">Радиус:
                    </label>
                    <div class="col-sm-2">
                        <input class="form-control" type="text" name="radius" onkeyup="checkParams()" autocomplete="off"
                               id="radius" th:attr="value=${rad}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2" >
                        <button class="btn btn-outline-secondary btn-block" type="submit" id="submit">Рассчитать</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    window.onload = function (){
        $('img[data-toggle="tooltip"]').tooltip({
            html: true
        });

        var cordType = $('#cordType').val();
        if(cordType!=null) $('input[name="cordsType"][value='+cordType+']').prop('checked', true);
        var tempType = $('#tempType').val();
        if(tempType!=null) $('input[name="tempType"][value='+tempType+']').prop('checked', true);

        checkParams();

    }

    //стиль закрузки файла
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    //проверка
    function checkParams() {
            var temps = $('#temps').val();
            var coords = $('#coords').val();

            /*        if(corr !== 0)
        {
            alert(corr);
            if(temps !== "" || fileTemp.value != 0)
            {
                alert(fileTemp.value + " " + temps);
                if(fileCoordinates.value != 0 || coords !== null)
                {
                    alert(fileCoordinates.value  + " " + coords);
                }
            }
        }
        alert(temps + "...." + coords + ".." + corr + "...." + fileTemp.value + ".." + fileCoordinates.value)*/
            if ((fileTemp.value != 0) && (fileCoordinates.value != 0 )) {
                $('#submit').removeAttr('disabled');
            } else {
                $('#submit').attr('disabled', 'disabled');
            }

    }

</script>
</body>
</html>