<div th:if="${message}!=null" style="padding: 0 12% 0 12%;" xmlns:th="http://www.w3.org/1999/xhtml" class="row">
    <label style="color: darkred" class="col-sm-4 col-form-label"  th:text="${message}"></label>
    <a target="_blank" href="/showStationsOnMap" class="col-sm-6 col-form-label">Отобразить станции на карте</a>
</div>
        <form target="_blank" xmlns:th="http://www.w3.org/1999/xhtml" th:if="${message}=='Период выбран верно' OR ${message}=='Данные не прошли проверку'" th:action="@{/map}" method="post" enctype="multipart/form-data" id="test_form" >
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="checkbox" name="frequencyAnalisis" class="frequencyAnalisis" value="true">&nbsp;&nbsp;Анализ данных
                </div>
            </div>
            <div id="frequencyAnalisis"></div>
            <div class="form-group row">
                   <div class="col-sm-12">
                        <input type="checkbox" name="phaseCalc" class="phaseCalc" value="true">&nbsp;&nbsp;Расчет фазы / амплитуды
                   </div>
             </div>
            <div id="phaseCalc"></div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="checkbox" name="clusters" class="clustersCalc" value="true">&nbsp;&nbsp;Кластеризация
                </div>
            </div>
            <div id="clustersCalc"></div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="checkbox" name="classification" class="classesCalc" value="true">&nbsp;&nbsp;Классификация
                </div>
            </div>
            <div id="classesCalc"></div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="checkbox" name="toMap" class="showGroups" value="true">&nbsp;&nbsp;Отображение на карте
                </div>
            </div>
            <div id="showGroups"></div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <button disabled id="showOnMap" class="btn btn-primary" formaction="/showMap" role="button">Отобразить</button>
                </div>
            </div>
        </form>
<script>
    var isGroopingEnd = false;
    var isClusterizationEnd = false;

    var phaseCalc = false;
    var clustersCalc = false;
    var classesCalc = false;
    var showGroups = false;
    var frequencyAnalisis = false;

    $('.frequencyAnalisis').on('click', function() {
        if(!frequencyAnalisis) {
            frequencyAnalisis = true;
            $.ajax({
                url: '/getFrequencyFragment',
                contentType: 'text/html',
                dataType: 'html',
                success: function(html){
                    $('#frequencyAnalisis').append(html);
                }
            });

        }
        else{
            frequencyAnalisis = false;
            $('#frequencyAnalisis').html('');
        }

    });
    $('.phaseCalc').on('click', function() {
        if(!phaseCalc) {
            phaseCalc = true;
            $.ajax({
                url: '/getPhaseFragment',
                contentType: 'text/html',
                dataType: 'html',
                success: function(html){
                    $('#phaseCalc').append(html);
                }
            });
            if(isClusterizationEnd === true && isGroopingEnd === true) $('#showOnMap').removeAttr('disabled');

        }
        else{
            phaseCalc = false;
            if(!isClusterizationEnd || !isGroopingEnd) $('#showOnMap').attr('disabled', 'disabled');
            $('#phaseCalc').html('');
        }

    });

    $('.clustersCalc').on('click', function() {
        if(!clustersCalc) {
            clustersCalc = true;
            $.ajax({
                url: '/getClusterFragment',
                contentType: 'text/html',
                dataType: 'html',
                success: function(html){
                    $('#clustersCalc').append(html);
                }
            });

        }
        else{
            clustersCalc = false;
            $('#clustersCalc').html('');
            $('#showOnMap').attr('disabled', 'disabled');
        }
    });

    $('.classesCalc').on('click', function() {
        if(!classesCalc) {
            classesCalc = true;
            $.ajax({
                url: '/getClassesFragment',
                contentType: 'text/html',
                dataType: 'html',
                success: function(html){
                    $('#classesCalc').append(html);
                }
            });
            if(isClusterizationEnd === true && isGroopingEnd === true) $('#showOnMap').removeAttr('disabled');
        }
        else{
            classesCalc = false;
            $('#classesCalc').html('');
            if(!isClusterizationEnd || !isGroopingEnd) $('#showOnMap').attr('disabled', 'disabled');
        }
    });

    $('.showGroups').on('click', function() {
        if(!showGroups) {
            showGroups = true;
            $.ajax({
                url: '/getShowGrFragment',
                contentType: 'text/html',
                dataType: 'html',
                success: function(html){
                    $('#showGroups').append(html);
                }
            });
            if(isClusterizationEnd === true && isGroopingEnd === true) $('#showOnMap').removeAttr('disabled');
        }
        else{
            showGroups = false;
            $('#showGroups').html('');
            $('#showOnMap').attr('disabled', 'disabled');
        }
    });
</script>